[user]
    name = Mikhail Porokhovnichenko
    email = marazmiki@gmail.com

[color]
    ui = true

[alias]
    st = status
    co = checkout
    ci = commit
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    in = "!git remote update -p; git log ..@{u}"
    out = log @{u}..
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^

[help]
	autocorrect = 1
